# ============================================================
# Python
# ============================================================

__pycache__/
*.pyc
*.pyo


# ============================================================
# Virtual environments
# ============================================================

.venv/
venv/


# ============================================================
# Secrets
# ============================================================

.env


# ============================================================
# Airflow runtime
# ============================================================

airflow/*.db
airflow/*.db-shm
airflow/*.db-wal
airflow/*.cfg

airflow/logs/

airflow/simple_auth_manager_passwords*
airflow/standalone_admin_password.txt


# ============================================================
# Temporary Data
# ============================================================

data/temp/


# ============================================================
# dbt
# ============================================================

dbt_act/target/
dbt_act/logs/
dbt_act/dbt_packages/


# ============================================================
# IDE
# ============================================================

.vscode/


# ============================================================
# OS
# ============================================================

.DS_Store